#Exclude these files and folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Ss]nape-shots/

#Mac OS
.DS_Store

#Visual Studio
.vs/
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.sln.docstates
*.pdb
*.mdb

#Rider
.idea/

#Binaries
*.dll
*.so
*.a
*.lib

#Unity
*.unitypackage
*.asset.meta
*.meta

#Other
*.txt
*.exe
*.zip
*.rar
*.7z

#Common build files that should be ignored
*.apk
*.aab
*.aar
*.keystore

#Exclude the specific build and export folders
/AndroidBuild/
/iOSBuild/
/WindowsBuild/

#Exclude other common files
/Assets/AssetStoreTools/
/Assets/Editor/ScriptTemplates/
/ProjectSettings/ProjectVersion.txt
/Assets/Editor/Cache/
/Assets/StreamingAssets/

#If you need to include a specific file that is
#otherwise ignored by the patterns above, use the following syntax:
#!/path/to/file.ext
